@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

html,body { height: 100%; }
body{
  background-color: #e8e8e8
}
#main-container{
  padding:0;
  height: 75vh;
  display:flex;
  flex-direction:row;
  align-content:stretch;
}
#left{
display:flex;
flex-direction:column;
align-items:stretch;

}
#left,#right{
  padding:0;
}
#top-bar{
  background-color:#000080;
  height:6%;
}
#menu-icon{
  font-size: 35px;
  color: white;
}
#search-bar{
  width:25%;
  height:75%;
  padding:0;
}
.product{
  width:130px;
  height:100px;
  background-color:white;
  background-position: center;
  transition: background 0.8s;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.product:hover{
    background: radial-gradient(circle, transparent 1%,) center/15000%;
}

.product:active{
  background-color: #000080;
  background-size: 100%;
  transition: background 0s;
  color: white;
}

.product-category{
  height:100px;
  width:140px;
  background-color:white;
  background-position: center;
  transition: background 0.8s;
}

.product-category:hover{
  background: radial-gradient(circle, transparent 1%,) center/15000%;
}

.product-category:active{
background-color: #000080;
background-size: 100%;
transition: background 0s;
color: white;
}
 
#product-container{
  width:100%;
  height:94%;
}

#items-container{
  width:100%;
  flex-wrap:wrap;
}
#product-category-container{
  padding-top:4em !important;
}
#order-container{
  height:65%;
  overflow-y:scroll;
}
#checkout-container{
  height:35%;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color:#000080;

}
#price-container{
  padding-top:1em;
  padding-left:1em;
}
#checkout-buttons-container{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.checkout-button{
  border-color:#000080 !important;
  background-color: transparent !important;
  color:#344E5C !important;
  border-radius: 0;
  

}
.checkout-button:hover,.checkout-button:active,.checkout-button:focus{
  background-color:#000080 !important;
  border-color:#000080 !important;
  color: white !important;
    outline: none !important;
  box-shadow: none !important;

}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color:white;
  transition:none;
  border-style: outset;

}
#discount,#subtotal{
  opacity:0.8;
}
#total{
  font-size: 20px;
}
.order-item{
  display:flex;
  flex-direction: row;

}
.order-item-component{
  margin:5px;
}
.product-test{
height: 100px;
width: 110px;
text-align: center;
vertical-align: middle;
border-radius: 2px;
}
.category-button{
  

}