@page "/cash"

<div class="container row" id='cash-container'>
    <div class="container col-7" id='product-field'>gdgd</div>
    <div class="container col-5 bg-" id='order-field'>dgdgd</div>
</div>

@code {

}