@page "/productcontainer"
@using WebApplication1.Data
@inject IProductService ProductService



        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
             @if (products == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {   
            @foreach (var product in products)
<<<<<<< HEAD
            {
                <MatButton Raised="true" class="product-test mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    @product.Name
                </MatButton>
=======
            {   <MatRipple class=".mat-elevation-z3 product-test mat-layout-grid-cell mat-layout-grid-cell-span-2">
                     @product.Name
                </MatRipple>
>>>>>>> 88b23ec8ee638c2f75d0311fda43f47be73a358e
            }
        }
                

            </div>
        </div>
@code{
    IEnumerable<Product> products;  
  
    protected override async Task OnInitializedAsync()  
    {  
        products = await ProductService.GetProductsByCategory(2);  
    }


}  



