@page "/productcontainer"
@using WebApplication1.Data
@inject IProductService ProductService

<<<<<<< HEAD
            
=======



>>>>>>> 6f49a51a5d3aeb241d10ece2d50fabb0b33ef04a
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                
                    
            @if (products == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {   
            @foreach (var product in products)
<<<<<<< HEAD
            {   

                <MatRipple class="mat-elevation-z4 product-test mat-layout-grid-cell mat-layout-grid-cell-span-2">
=======
            {   <MatRipple class=".mat-elevation-z3 product-test mat-layout-grid-cell mat-layout-grid-cell-span-2" >
>>>>>>> 6f49a51a5d3aeb241d10ece2d50fabb0b33ef04a
                     @product.Name
                </MatRipple>

            }
        }
            </div>
<<<<<<< HEAD
            
                </div>


        



@code{
    [Parameter]
    public int Id {get; set;}
    IEnumerable<Product> products;


 
 
  
    protected override async Task OnInitializedAsync()  
    {  
        products = await ProductService.GetProductsByCategory(Id);  
=======
        </div>


@code{
    IEnumerable<Product> products;
  
    protected override async Task OnInitializedAsync()  
    {  
        products = await ProductService.GetProducts();  
>>>>>>> 6f49a51a5d3aeb241d10ece2d50fabb0b33ef04a
        
    }





<<<<<<< HEAD

=======
>>>>>>> 6f49a51a5d3aeb241d10ece2d50fabb0b33ef04a
}  



