@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

</div>

    <div class="content px-4">
        @Body
    </div>
<<<<<<< HEAD
@code
    {
        MatTheme theme = new MatTheme()
        {
            Primary = "darkblue",
            Secondary = "white"
        };
    }
=======
</div>


>>>>>>> 6f49a51a5d3aeb241d10ece2d50fabb0b33ef04a
